{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                <article class="card">
                <header class="card-header">
                    <h4 class="d-inline-block mr-3">Change your Password</h4>
                </header>
                <div class="card-body">
                    <div class="row"> 
                        <div class="col-md-12">
                            <form action="{% url 'change_password' %}" method='POST'>
                                {% csrf_token %}
                                <div class="form-group mt-4">
                                    <label for="">Currrent Password</label>
                                    <input type="password" name="current_password" class="form-control" placeholder="Current Password" required>  
                                </div>
                                <div class="form-group mt-4">
                                    <label for="">Create New Password</label>
                                    <input type="password" name="new_password" class="form-control" placeholder="Create New Password" required>  
                                </div>
                                <div class="form-group mt-4">
                                    <label for="">Confirm Password</label>
                                    <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>  
                                </div>
                                <input type="submit" value="submit" class="btn btn-primary mt-4">
                            </form>
                        </div>
                
                            
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
                </article> <!-- order-group.// --> 
            </main>
            {% include 'includes/dashboard_sidebar.html' %}
        </div> <!-- row.// -->
    </div>   
</section>
    

{% endblock content %}

