@media (min-width: 360px) and (max-width: 375px){


.navbar-brand{
    margin-left: -11px;
    margin-right: 0px!important;
}

.navbar-brand .logo {
    max-height: 28px;
   
}

.laptop-scope{
    display: none;
}

.mobile-scope{
    display:flex;
}

.icon-sm {
    width: 35px;
    height: 36px;
    line-height: 34px !important;
    font-size: 15px;
}

.login-section{
    color: white;
    font-size: 12px;
    font-family: cursive;
}

.phone-search{
    margin-top: 6px;
    margin-left: -10px;
}

.search{
    width: 23rem;
}

.text-muted{
    font-size: 11px!important;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 5px 5px 5px 10px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  .dropdown-item:hover, .dropdown-item:focus {
    background-color: #101010;
}
.all-category{
    margin-left: -15px;
}

/* footer  */

.footer-bottom{
    text-align: center;
}

.login-wrap{
    max-width: 23rem;
    margin-top: 20px;
}

.login-wrap-register{
    max-width: 23rem;
    margin-top: 30px;
  }

  .slider-height {
    height: 35vh;
}

.section-title{
    text-align: center;
}

.gallery-wrap .img-big-wrap img {
    height: 200px;
    width: auto;
    display: inline-block;
    margin-top: 4rem;
}

.empty-cart {
    width: 22.5rem;
    margin-left: 0rem;
}

.empty-cart-img {
    width: 10rem;
}

.section-pagetop{
    text-align: center;
}

.forgot-pass{
    max-width: 304px;
  }

  .card-title{
      text-align: center;
  }


  /* cart  */

  .table-shopping-cart .itemside .aside {
    display: flex!important;
}

.table-header{
    display: none!important;
}

.increase-group{
    margin-top: 97px;
    margin-left: -200px;
}

.input-spinner .btn {
    width: 30px;
}

.price-wrap{
    margin-top: 1px;
}

.remove-cart{
    margin-left: -90px;
    margin-top: 96px;
    position: absolute;
}
.itemside {
    width: 150%;
    align-items: unset!important;
}
.input-spinner input.form-control {
    max-width: 35px;
    flex-basis: 35px;
}
.info{
    margin-left: 7px;
}


.row-printable{
    width: 100%;
    margin: 0 auto;
    padding: 2px;
    background-color: #f1f1f1;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 13px!important;
}

.invoice-logo-img{
    max-height: 40px;
    width: 125px;
    padding-top: 10px;
  }


  .edit-profile{
      display: inherit!important;
  }

  .pad-top{
      padding-top: 10px!important;
  }

  .pad-country{
      padding-top: 15px!important;
  }

  .edit-profile-header{
      text-align: center;
  }
  
  .edit-profile-header h4{
      font-size: 20px;
  }

  .my-orders{
      font-size: 13px;
  }

  .phone-number{
      display: none!important;
  }

  .border-minus{
      border-radius: 0px!important;
  }

  .cart-aside{
      margin-top: 2rem;
  }

  .checkout-form{
      display: block!important;
  }

  .checkout-label{
      margin-top: 2rem!important;
 
    }

    .table-shopping-cart.table td, .table-shopping-cart.table th {
        padding-left: 0.5rem!important;
    }

    .checkout-quantity{
        display: flex;
        justify-content: flex-end;
    }

    .table td {
        padding: 7px!important;
    }

    h4{
        font-size: 20px;
    }
}