<aside class="col-md-4">
    <div class="aside-recommend">
        <h5 class="py-4 px-4">Recommended products:</h5>
        <div class="recommend-sidebar px-4">
          <img src="/static/images/recommend/side_wallet.jpg" width="75px" height="95px" class="my-1">
          <div class="my-2">
            <h6 class="text-info my-2">WildHorn Leather Wallet</h6>
            <h6 class="text-warning">₹299.00</h6>
          </div>
        </div>
        <div class="recommend-sidebar px-4">
          <img src="/static/images/recommend/side_cover.jpg" width="75px" height="95px" class="my-1">
          <div class="my-2">
            <h6 class="text-info my-2">Redmi Note 9 Back Cover</h6>
            <h6 class="text-warning">₹149.00</h6>
          </div>
        </div>
        <div class="recommend-sidebar px-4">
          <img src="/static/images/recommend/side_tv.jpg" width="75px" height="95px" class="my-1">
          <div class="my-2">
            <h6 class="text-info my-2">Samsung 43 inches Ultra HD LED TV</h6>
            <h6 class="text-warning">₹36,990.00</h6>
          </div>
        </div>
        <div class="recommend-sidebar px-4">
          <img src="/static/images/recommend/side_shirt.jpg" width="80px" height="95px" class="my-1">
          <div class="my-2">
            <h6 class="text-info my-2">STC Women's & Girls' Shirt</h6>
            <h6 class="text-warning">₹349.00</h6>
          </div>
        </div>
    </div>
</aside>
